@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1.2;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fafafa;
}
::-webkit-scrollbar-thumb {
  background-color: #ccd0d7;
  border-radius: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  appearance: textfield;
}
